# Ignore node_modules in both frontend and backend
node_modules/
  
# Ignore build and dist directories in both frontend and backend
build/
dist/

# Ignore .env files
.env

# Ignore logs
*.log

# Ignore OS-specific files (Mac, Windows)
.DS_Store
Thumbs.db
